<div id="login-float" class="floatfixed">
    <div class="df aic jcc floatfixed-dim">
        <div class="floatfixed-dim-content">
            <div id="login-float-content" class="df aic">
                <header id="login-float-content-header" class="df aic">
                    <img id="login-float-content-header-close" src="/static/assets//images/svgs/x.svg" alt="">
                </header>
                <div id="login-float-content-logo" class="df aic jcc">
                    <img id="login-float-content-logo-img" src="/static/assets//images/logo/icon-logo.png" alt="">
                </div>
                <input id="login-float-content-username" type="text" placeholder="E-mail/Username">
                <input id="login-float-content-password" type="password" placeholder="Password">
                <a id="login-float-content-submit" class="df aic jcc">Sign In</a>
                <div id="login-float-content-noaccount" class="df">
                    <a id="login-float-content-noaccount-forget">
                        Forgot Password
                    </a>
                    <a id="login-float-content-noaccount-signup">
                        Sign Up
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="signup-float" class="floatfixed">
    <div class="df aic jcc floatfixed-dim">
        <div class="floatfixed-dim-content">
            <div id="signup-float-content" class="df aic">
                <header id="signup-float-content-header" class="df aic">
                    <img id="signup-float-content-header-close" src="/static/assets//images/svgs/x.svg" alt="">
                </header>
                <div id="signup-float-content-logo" class="df aic jcc">
                    <img id="signup-float-content-logo-img" src="/static/assets//images/logo/icon-logo.png" alt="">
                </div>
                <input id="signup-float-content-email" type="text" placeholder="E-mail">
                <input id="signup-float-content-username" type="text" placeholder="Username">
                <input id="signup-float-content-password" type="password" placeholder="Password">
                <input id="signup-float-content-confirm" type="password" placeholder="Password Again">
                <a id="signup-float-content-submit" class="df aic jcc">Sign Up</a>
                <div id="signup-float-content-noaccount" class="df">
                    <a id="signup-float-content-noaccount-login">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>