<header id="pageheader">
    <nav id="pageheader-nav" class="df aic">
        <div id="pageheader-nav-left" class="df aic jcc">
            <a id="pageheader-nav-left-logo"  class="df aic jcc pageheader-nav-left-logo" href="/">
                <img id="pageheader-nav-left-logo-img" src="/static/assets//images/logo/logo.png" alt="">
            </a>
            <a id="pageheader-nav-left-problems" class="df aic jcc pageheader-nav-left-item" href="/views/problems">
                <span id="pageheader-nav-left-problems-text">題目列表</span>
            </a>
            <a id="pageheader-nav-left-ranks" class="df aic jcc pageheader-nav-left-item" href="/views/rankings">
                <span id="pageheader-nav-left-ranks-text">解題排名</span>
            </a>
            <a id="pageheader-nav-left-submissions" class="df aic jcc pageheader-nav-left-item" href="/views/submissions">
                <span id="pageheader-nav-left-submissions-text">解題動態</span>
            </a>
        </div>
        <div id="pageheader-nav-right" class="df aic jcc">
            <div id="pageheader-nav-right-user" class="df aic jcc pageheader-nav-right-item">
                <img id="pageheader-nav-right-user-icon" src="/static/assets//images/svgs/person-circle.svg" alt="">
                <div id="pageheader-nav-right-user-nav">
                    <div id="pageheader-nav-right-user-nav-y" class="df">
                        <a id="pageheader-nav-right-user-nav-y-profile" class="df aic">
                            <img src="/static/assets//images/svgs/person-circle.svg" alt="">
                            <span id="pageheader-nav-right-user-nav-y-profile-username"></span>
                        </a>
                        <hr>
                        <a id="pageheader-nav-right-user-nav-y-favorite" class="df aic">
                            <img src="/static/assets//images/svgs/bookmark-heart.svg" alt="">
                            我的最愛
                        </a>
                        <a id="pageheader-nav-right-user-nav-y-submissions" class="df aic">
                            <img src="/static/assets//images/svgs/clock.svg" alt="">
                            提交紀錄
                        </a>
                        <hr>
                        <a id="pageheader-nav-right-user-nav-y-logout" class="df aic">
                            <img src="/static/assets//images/svgs/box-arrow-left.svg" alt="">
                            登出
                        </a>
                    </div>
                    <div id="pageheader-nav-right-user-nav-n" class="df">
                        <a id="pageheader-nav-right-user-nav-n-login" class="df aic">
                            <img src="/static/assets//images/svgs/box-arrow-in-right.svg" alt="">
                            登入
                        </a>
                        <a id="pageheader-nav-right-user-nav-n-signup" class="df aic">
                            <img src="/static/assets//images/svgs/person-plus-fill.svg" alt="">
                            註冊
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>