@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --case-passed-green: #009688;
    --case-failed-red: #c62928;
    --case-waiting-black: #263238;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}

textarea {
    resize: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.df {
    display: flex;
}
.aic {
    align-items: center;
}
.jcc {
    justify-content: center;
}